body {
    background-color: #E5E5E5;
    margin-left: 160px;
    padding-top: 112px;
    margin-right: 159px;
    padding-bottom: 70px;
}
.last{
    margin-left:50% ;
}
a{
    text-decoration: none;
    color: #181717;
    
}
.nav-item {
    color: #181717;
}